!.gitkeep
.vscode/
[Ff]rameworks/*
![Ff]rameworks/licenses
!cocos2d-js-v*.js
manifest.webapp
CMakeLists.txt
[Tt]mp/
[Pp]rivate
[Pp]rivate/
*.old
*.bak
*.tmp
node_modules
package*.json
.eslint*
.babelrc
build.xml
*.gem*
_site
.jekyll-cache


