---
---

@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

body{
	color:	#FFFFFF;
	background-color:	#333333;
	padding:	0px;
	margin:	0px;
	font-family:	Kosugi Maru;
	line-height:	150%;
}
a{
	color:	#EFB854;
	text-decoration:	none;

	&:hover{
		text-decoration:	underline;
	}
}
h1{
	margin: 25px;

	.siteTitle{
		font-size: 75%;
	}
}
h2{
	margin: 50px 25px 5px 20px;
	padding-left:5px;
	background:	linear-gradient(transparent 60%, #FFAF00 60%);
	text-shadow: +1px +1px 5px #333,
				 -1px +1px 5px #333,
				 +1px -1px 5px #333,
				 -1px -1px 5px #333;
}
h3,h4{
	margin:	5px 35px;
	padding: 0px 5px;
	background:	linear-gradient(transparent 95%, #FFAF00 95%);
	display:	inline-block;
}
h2,h3,h4{
	i{
		font-style:	italic;
		font-size:	75%;
	}
}
footer{
	text-align:center;
	margin-top:75px;
	margin-bottom:25px;
}
p,ul,ol,table{
	section > &{
		margin-left:	40px;
	}
}
th,td{
	border: 1px solid #000000;
	padding:8px;

	thead &{
		background-color:	#555555;
		font-size:	90%;
		padding-top:	0px;
		padding-bottom:	0px;
	}
	tbody &{
		background-color:	#444444;
	}
}
.tagline{
	font-family:serif;
	font-style:italic;
	padding:	10px 20px;

	.emdash{
		letter-spacing:	-2px;
	}
}
